#{extends 'public/themes2/index.html' /}
<!-- panel -->
#{set 'panel_content'}
<div id="datadivisi"><!-- Table -->	
</div><!-- Table -->	
#{/set}
#{panel title:'Data Divisi', buttonTitle: ' Tambah Divisi', buttonLink: '#' /}	
<div class="modal fade" id="removemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
       	<form id="formhapus" class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post">
           
                      
           <div class="modal-body text-center" id="HapusText">
           		<h4>Apakah anda yakin akan menghapus divisi ini ?</h4>
			</div>
           <div class="modal-footer">
               <button type="button"  class="btn btn-default" data-dismiss="modal">Batal</button>
               <button type="submit" class="btn btn-danger" id="yeshapus">Hapus</button>
           </div>
           </form>
       </div>
   </div>
</div>

<div class="modal fade" id="modaltambah" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
       	<form id="formtambah" class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">Tambah Divisi</h4>
           </div>
                      
           <div class="modal-body" id="bodytambah">
           		
			</div>
           <div class="modal-footer">
               <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary" id="simpan">Save</button>
           </div>
           </form>
       </div>
   </div>
</div>
<div class="modal fade" id="modalubah" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
       	<form id="formubah" class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">Ubah Divisi</h4>
           </div>
                      
           <div class="modal-body" id="bodyubah">
           		
			</div>
           <div class="modal-footer">
               <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary" id="simpan">Save</button>
           </div>
           </form>
       </div>
   </div>
</div>

<!-- More CSS -->
#{set 'moreStyles'}
<link href="@{'public/themes2/css/jquery.dataTables.min.css' }" rel="stylesheet" type="text/css">
<link href="@{'public/themes2/ui-custom.css'}" rel="stylesheet" type="text/css">
#{/set}

<!-- More JavaScript -->
#{set 'moreScripts'}#{script 'jquery.dataTables.min.js' /}	
  	<script src="@{'public/themes2/js/jquery-ui.min.js'}"></script>
  	<script src="@{'public/themes2/js/jquery.dataTables.min.js'}"></script>
  	
  	<script>
  	$(document).ready(function () {
  		   
 	//=====Load list divisi=====//
		 	var list=#{jsAction @Master.listdivisi() /}; 		
		 	$('#datadivisi').load(list());
	//=====tombol tambah========		 	
           $('#panelButton').click(function(){
        	   $('#modaltambah').modal('show');
        	   $('#myModalLabel').text('Tambah Divisi');
        	   var tambahdivisi=#{jsAction @Master.tambahdivisi() /}; 		
   		 		$('#bodytambah').load(tambahdivisi());
           });	
	//========onsubmit form di modal===========//
           $('#formtambah').submit(function(e){
           	e.preventDefault();
           	var tambah=#{jsRoute @Master.tambahdivisi() /};
           	var formtambah=$(this).serialize();
           	$.ajax({
           	url : tambah.url(),
           	data : formtambah,
           	type : 'POST',
           	success:function(data){                		                            
                   $('#modaltambah').modal('hide');
                   $('#datadivisi').load(list());
           	}
           	});
           });
//=================
           $('#modalubah').on('show.bs.modal', function (event) {
        	   var button = $(event.relatedTarget);
               var recipient = button.data('id');
        	   var ubahdivisi=#{jsAction @Master.ubahdivisi(':id') /}; 		
   		 		$('#bodyubah').load(ubahdivisi({id:recipient}));
           });
           $('#formubah').submit(function(e){
              	e.preventDefault();
              	var tambah=#{jsRoute @Master.tambahdivisi() /};
              	var formtambah=$(this).serialize();
              	$.ajax({
              	url : tambah.url(),
              	data : formtambah,
              	type : 'POST',
              	success:function(data){                		                            
                      $('#modalubah').modal('hide');
                      $('#datadivisi').load(list());
              	}
              	});
              });
//======================
	      	$('#removemodal').on('show.bs.modal',function(event){
	 			iddivisi=$(event.relatedTarget).data('id');
	 		});
		   	$('#yeshapus').click(function(e){
		   		e.preventDefault();
		   		var funchapus=#{jsRoute @Master.hapusdivisi(':id') /};
		   		$.ajax({
		   			url: funchapus.url({id: iddivisi}),
		   			type: 'POST',
		   			success: function(){
		   				$('#removemodal').modal('hide');
		   				$('#datadivisi').load(list());
		   			}
		   		});
		   	});
	
	
  	});
  	</script>
#{/set}