
    <table class="table table-striped table-bordered table-hover" id="dataTables">
       <thead>
            <tr>
				<th>Nama</th>
				<th>JK</th>
				<th>Jurusan</th>
				<th>Nama Sekolah</th>
				<th>Divisi</th>
				<th>Tgl Mulai</th>
				<th>Tgl Selesai</th>
				<th>Status</th>
				<th>Aksi</th>
            </tr>
        </thead>
        <tbody id="tablebody">
        	
			#{list siswa}
				<tr>
			  		<td>${_?.nama}</td>
			  		<td>${_?.jeniskelamin.namakelamin}</td>
			  		<td>${_?.jurusan}</td>
			  		<td>${_?.pengajuan.namainstansi}</td>
			  		<td>${_?.divisi?.namadivisi}</td>
			  		<td>${_?.tglmulai?.format('dd MMM yyy')}</td>
			  		<td>${_?.tglselesai?.format('dd MMM yyy')}</td>
			  			
			  		<td><b class="status-siswa">${_?.status?.namastatus}</b>
						  		#{select 'siswa.status.id', items:status, valueProperty:'id', labelProperty:'namastatus', value:_?.status?.id, class:'form-control status-kp status-hidden', disabled: 'disabled'/}
						  		<input type="hidden" name="siswa.id" value="${_?.id}">						  		
					</td>
			  		<td>  		
			  			
			  			<button class="btn-info" data-toggle="modal" data-target="#ubahsiswa" data-siswa="${_?.id}" data-placement="top" title="edit profil"><i class=" fa fa-pencil"></i> Ubah</button>
			  			<button class="btn-danger" data-toggle="modal" data-target="#removemodal" data-siswa="${_?.id}" data-placement="top" title="hapus data"><i class=" fa fa-remove"></i> Hapus</button>

			  		</td>
			  	</tr>
			 #{/list}
        </tbody>        
</table>
<script>
	 $('#dataTables').dataTable();	

 	$('.status-kp').each(function(){
 		$(this).hide();	    		
 	});
</script>