#{extends 'public/themes2/index.html' /}
<!-- panel -->

<div class="row">
	<div class="col-lg-12">	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class=" fa fa-th-list "></i> Data Kerja Praktik Mahasiswa
			</div>	
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12 text-left">
						<button class="btn btn-md btn-success" id="statusbutton"><i class=" fa fa-refresh"></i> Ubah Status</button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-12" id="contentmahasiswa">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

#{sertifikat /}
#{modal modalName:'modalstatus',title:'Ubah Status', modalBody:'bodyedit' /}
<div class="modal fade" id="ubahsiswa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
       	<form id="formubah" class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">Ubah Siswa</h4>
           </div>
                      
           <div class="modal-body" id="bodychange">
           		
			</div>
           <div class="modal-footer">
               <button type="button"  class="btn btn-default" data-dismiss="modal">Tutup</button>
               <button type="submit" class="btn btn-primary" id="simpan"><i class="fa fa-spinner fa-pulse status-hidden" id="progress-ubah"></i> Simpan</button>
           </div>
           </form>
       </div>
   </div>
</div>
<div class="modal fade" id="removemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
       	<form id="formModal" class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post">
           
                      
           <div class="modal-body text-center" id="HapusText">
           		<h4>Apakah anda yakin akan menghapus siswa ini?</h4>
			</div>
           <div class="modal-footer">
               <button type="button"  class="btn btn-default" data-dismiss="modal">Batal</button>
               <button type="submit" class="btn btn-danger" id="yeshapus"><i class="fa fa-spinner fa-pulse status-hidden" id="progress-hapus"></i> Hapus</button>
           </div>
           </form>
       </div>
   </div>
</div>
<!-- More CSS -->
#{set 'moreStyles'}
<link href="@{'public/themes2/css/jquery.dataTables.min.css' }" rel="stylesheet" type="text/css">
<link href="@{'public/themes2/ui-custom.css'}" rel="stylesheet" type="text/css">
#{/set}

<!-- More JavaScript -->
#{set 'moreScripts'}
  	<script src="@{'public/themes2/js/jquery-ui.min.js'}"></script>
  	<script src="@{'public/themes2/js/jquery.dataTables.min.js'}"></script>
  	<script>
  	$(document).ready(function () {  	
 	//=====Load list siswa=====//
		 	var listmahasiswa=#{jsAction @Siswas.listmahasiswa() /} ;		 	
		 	$('#contentmahasiswa').load(listmahasiswa());
		 	
		 	var idsiswa   	  
	    	$('#removemodal').on('show.bs.modal',function(event){
	  			idsiswa=$(event.relatedTarget).data('siswa');	  			
	  		});
	    	$('#yeshapus').click(function(e){

    			$('#progress-hapus').toggle();
	    		  e.preventDefault();
	    		  var funchapus=#{jsRoute @Siswas.hapus(':id') /};
	    		  $.ajax({
	    				url: funchapus.url({id: idsiswa}),
	    				type: 'POST',
	    				success: function(){

	            			$('#progress-hapus').toggle();
	    					$('#removemodal').modal('hide');
	    					$('#contentmahasiswa').load(listmahasiswa());
	    				}
	  			});
	    	 });
    		$('#statusbutton').click(function(){
				$('.status-siswa').each(function(){
			 		$(this).toggle();	    
			 		
			 	});
    			$('.status-kp').each(function(){
    				$(this).toggle();
    				if($(this).prop("disabled")){
    					$(this).prop({disabled:false});						
    					$('#statusbutton').html('<i class="fa fa-save"></i> Simpan Status');						
    				}else{
    					$(this).prop({disabled:true});				
    					$('#statusbutton').html("<i class='fa fa-spinner fa-pulse'></i></i> Simpan Status");
    					var simpanubah=#{jsRoute @Siswas.simpanUbahStatus() /};
    					var formstatus=$(this).closest('td').find(':input[type="hidden"]').val();
    					var status_id=$(this).val();			      
    					$.ajax({
    			          	url : simpanubah.url(),
    			          	type : 'GET',
    			          	data : {id : formstatus,status_id: status_id},
    			          	success:function(data){
    	                    	$('#contentmahasiswa').load(listmahasiswa());
    	    					$('#statusbutton').html("<i class='fa fa-refresh'></i> Ubah Status");			                          	                    
    			          		}
    			         });
    				}
    			});
    		});

            $('#ubahsiswa').on('show.bs.modal', function (event) {
            	 var button = $(event.relatedTarget);
            	 var recipient = button.data('siswa');
            	 var edit=#{jsAction @Siswas.ubahsiswa(':id') /};
            	 $('#bodychange').load(edit({id : recipient}));                 
            });
             $('#formubah').submit(function(e){
             	e.preventDefault();
    			$('#progress-ubah').toggle();
             	var simpanubah=#{jsRoute @Siswas.tambah(':siswa') /};
             	var formstatus=$(this).serialize();
             	$.ajax({
	             	url : simpanubah.url(),
	             	data : formstatus,
	             	type : 'POST',
	             	success:function(data){               
	        			$('#progress-ubah').toggle();
	                     $('#ubahsiswa').modal('hide');
	                     $('#contentmahasiswa').load(listmahasiswa());                   	                    
	             	}
             	});
          	});
      
           //=====================Tombol Cetak=====    	  
         	$('#cetaksertifikat').on('show.bs.modal',function(event){
       			idsiswa=$(event.relatedTarget).data('siswa');
       			$('#idsiswa').val(idsiswa);
       		});
    	 
  	});
  	</script>
#{/set}
