<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Nama</label>
	</div>
	<div class="col-lg-8">
		<input type="text" name="siswa.nama" value="${siswa?.nama}" class="form-control" />
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Jenis Kelamin</label>
	</div>
	<div class="col-lg-8">
		#{select 'siswa.jeniskelamin.id', items:jk, valueProperty:'id', labelProperty:'namakelamin', class:'form-control', id:'select2' /}
	</div>								
</div>						
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Jurusan</label>
	</div>
	<div class="col-lg-8">
		<input id="instansi" type="text" name="siswa.jurusan" class="form-control" />
	</div>								
</div>	
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Divisi</label>
	</div>
	<div class="col-lg-8">
		
		#{select 'siswa.divisi.id', items:divisi, valueProperty:'id', labelProperty:'namadivisi', value:siswa?.divisi?.id, class:'form-control'/}
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Tgl PKL</label>
	</div>
	<div class="col-lg-4">
		<input type="text" name="tglmulai" value="${siswa?.tglmulai}" class="form-control" id="tglMulai"/>
	</div>								
	<div class="col-lg-4">
		<input type="text" name="tglselesai" value="${siswa?.tglselesai}" class="form-control" id="tglSelesai"/>
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Status</label>
	</div>
	<div class="col-lg-8">
		
		#{select 'siswa.status.id', items:status, valueProperty:'id', labelProperty:'namastatus', value:siswa?.status?.id, class:'form-control'/}
	</div>								
</div>
<input type="hidden" name="siswa.pengajuan.id" value="${pengajuan?.id}">
<script>
$(document).ready(function () {     	
	$('#tglMulai').datepicker({
		showAnim : 'slideDown',
		dateFormat : 'dd-mm-yy',
	});
	$('#tglSelesai').datepicker({
		showAnim : 'slideDown',
		dateFormat : 'dd-mm-yy',
	});
	
});

</script>