<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Nama</label>
	</div>
	<div class="col-lg-8">
		<input type="text" name="user.nama" value="${user?.nama}" class="form-control"  required/>
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">NIP</label>
	</div>
	<div class="col-lg-8">
		<input type="text" name="user.nip" value="${user?.nip}" class="form-control" required/>
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Jabatan</label>
	</div>
	<div class="col-lg-8">
		<input type="text" name="user.jabatan" value="${user?.jabatan}" class="form-control" required/>
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Jenis Kelamin</label>
	</div>
	<div class="col-lg-8">
		#{select 'user.jeniskelamin_id.id', items:jk, valueProperty:'id', labelProperty:'namakelamin', class:'form-control', id:'select2' /}
	</div>								
</div>		
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Username</label>
	</div>
	<div class="col-lg-8">
		<input type="text" name="user.username" value="${user?.username}" class="form-control" id="username" required/> <i class="fa fa-spinner fa-pulse status-hidden" id="progress-icon"></i>
		<span class="alert-success status-hidden" id="pesan-sukses"><i class="fa fa-check"></i> username tersedia</span>
		<span class="alert-danger status-hidden" id="pesan-gagal"><i class="fa fa-remove"></i> username tidak tersedia</span>
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Password</label>
	</div>
	<div class="col-lg-8">
		<input type="password" name="user.password" value="${user?.password}" class="form-control" required/>
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Level</label>
	</div>
	<div class="col-lg-8">
		#{select 'user.level_id.id', items:level, valueProperty:'id', labelProperty:'namalevel', class:'form-control', id:'select2' /}
	</div>								
</div>	
