<html>
<head>
<style>
        
        .kei  {
            border-collapse:collapse;
            border-spacing:0;
            border-color:#ccc;}
        .kei td{
            font-family:Arial, sans-serif;
            font-size:12px;
            padding:10px 1px;
            overflow:hidden;
            word-break:normal;
            border-color:#ccc;
            color:#333;
            background-color:#fff;}
        .kei th{
            font-family:Arial, sans-serif;
            font-size:12px;
            font-weight: bold;
            padding:10px 5px;
            overflow:hidden;
            word-break:normal;
            border-color:#ccc;
            color:#333;
            background-color:#f0f0f0;}
    </style>

</head>
<body>

                              <table class="kei" width="100%" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; -fs-table-paginate: paginate;border-spacing:0">
                              
                                   <thead  >
                                    	<tr style="height: 90px">
                                    		<th colspan="6"><center>DAFTAR PESERTA PKL / PENELITIAN / OBSERVASI TAHUN ${new Date().format('yyyy','id')}
                                    		<br>
                                    		PT TASPEN PERSERO JAKARTA
                                    		<br>
                                    		Bulan </center></th>
                                    		
                                            
                                    	</tr>
                                    	
                                        <tr >
                                        	
                                            <th ><center>NO</center></td>
                                            <th ><center>NAMA SEKOLAH</center></th> 
                                            <th ><center>JURUSAN</center></th>                                        
                                            <th ><center>NAMA PESERTA</center></th>
                                            <th ><center>WAKTU PELAKSANAAN</center></th>
                                            <th ><center>DIVISI</center></th>
                                        </tr>
                                    </thead>
                                    <tbody>      
                                    %{x=1}%
                      				#{list siswa}
                                  	<tr>	
											<td>${_index}</td>		
											%{
												x--;
												rowspan=_?.pengajuan?.siswa?.size();												
												if(x==0){
													x=rowspan;
												}
											}%												
												#{if x==rowspan}																				
													<td style="width: 170px;vertical-align: top;" rowspan='${rowspan}'>${_?.pengajuan?.namainstansi}</td>
												#{/if}
											<td style="width: 140px;vertical-align: top;">${_?.jurusan}</td>
											<td style="width: 160px;vertical-align: top;">${_?.nama}</td>
											<td style="width: 180px;vertical-align: top;"><center>${_?.tglmulai?.format('dd MMM')} s/d ${_?.tglselesai?.format('dd MMM yyyy')}</center></td>											
											<td style="width: 180px;vertical-align: top;">${_?.divisi?.namadivisi}</td>
										</tr>	
									#{/list}
                                            
                                        
                                    </tbody>
                                    	<tr>
                                    		<td colspan="2"></td>
                                    		
                                    		<td style="text-align:center;"> Jumlah :</td>
                                    		<td style="text-align: center;">jumlah Orang</td>
                                    		<td colspan="2"> </td>
                                    		
                                    	</tr>
                                    	
                                    	<tr style="page-break-inside: avoid;page-break-after: auto;">
                                    	<td align="right" colspan="6">
                                    	<table align="right" style="margin-right: 30px;">
				                                
				                        		<tr style="font-size: 16">
				                        		<td align="center">
				  								Jakarta, ${new Date().format('dd MMMM yyyy','id')}
				  								
				  								</td>
				  								</tr>
				  								<tr style="font-size: 16">
				                        		<td align="center">
				  								Kepala PSDM
				  								</td>
				  								</tr>
				  								 <tr style="height: 2cm"></br></tr>
				  								<tr style="text-transform: uppercase; font-size: 16;">
				  								<td align="center">
				  								Muhammad Rizal<br>
				  								H1L012037
				  								</td>
				  								</tr> 
  										</td></table>		
                                    	</tr>
                                    	
                                </table>
                                                              
</body>
</html>