#{extends 'public/themes2/index.html' /}
<div class="row">
	<div class="col-sm-12 col-md-12">	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class=" fa fa-th-list "></i> Tentang Kami		
			</div>
			<div class="panel-body">
				<div class="row">					
					<div class="col-sm-12 col-md-12">
						<div class="row">
							<div class="col-md-12 text-center">
								<img src="@{'public/images/logo.png'}"  width="150px">								
							</div>							
						</div>
						<hr>
						<div class="row">
							<div class="col-md-6 col-md-offset-3 text-center">
								PT TASPEN (Persero) atau Tabungan dan Asuransi Pensiun adalah Badan Usaha Milik Negara Indonesia yang bergerak di bidangasuransi tabungan hari tua dan dana pensiun Pegawai Negeri Sipil.
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12 text-center">
								<img src="@{'public/images/unsoed-logo.jpg'}" width="150px">								
							</div>							
						</div>
						<hr>
						<div class="row">
							<div class="col-md-6 col-md-offset-3 text-center">
								Universitas Jenderal Soedirman (Unsoed), merupakan salah satu Perguruan Tinggi Negeri (PTN) di Indonesia yang terletak diPurwokerto, Kabupaten Banyumas, Jawa Tengah.
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
</div>