<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables">
       <thead>
            <tr>
				<th>Nama Divisi</th>
				<th width="10%">Kuota</th>
				<th width="10%">Terisi</th>
				<th width="30%">Aksi</th>
            </tr>
        </thead>
        <tbody id="tablebody">        	
			#{list divisi}
				<tr>
			  		<td>${_?.namadivisi}</td>
			  		<td>${_?.kuota}</td>
			  		<td>${_?.terisi}</td>
			  		<td>  					 
			  			
		   			<a href="@{Divisis.detail(_?.id)}">
		   			<button id="DetailPengajuan" class="btn-primary">
		   				<i class=" fa fa-search-plus"> </i> Detail
		   			</button>
		   			</a> 			
			  			<button class="btn-info tombolubah" data-target="#modalubah" data-id="${_?.id}" data-toggle="modal" data-placement="top" title="edit data"><i class=" fa fa-pencil"></i> Ubah</button>
			  			<button class="#{if _?.siswa.size()!=0}btn-default#{/if}#{else}btn-danger#{/else}" data-id="${_?.id}" data-target="#removemodal" data-toggle="modal" data-placement="top" title="hapus data"#{if _?.siswa.size()!=0}disabled#{/if}><i class=" fa fa-remove"></i> Hapus</button>
			  		</td>
			  	</tr>
			 #{/list}
        </tbody>        
</table>
<script>
	 $('#dataTables').dataTable();	
</script>