#{extends 'public/themes2/index.html' /}
<div class="panel panel-primary">
	<div class="panel-heading">
	<i class=" fa fa-th-list "></i> Detail Pengajuan Kerja Praktik 		
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-12">
				<table class="table table-hover">
                     <tbody>
                         <tr>
                             <th width="20%">No Surat</th>
                             <td>:</td>
                             <td>${pengajuan?.nosurat}</td>
                         </tr>
                         <tr>
                             <th>Tgl Surat</th>
                             <td>:</td>
                             <td>${pengajuan?.tglsurat?.format('dd MMMM yyyy','id')}</td>
                         </tr>
                         <tr>
                             <th>Nama Sekolah</th>
                             <td>:</td>
                             <td>${pengajuan?.namainstansi}</td>
                         </tr>
                         <tr>
                             <th>No Telepon</th>
                             <td>:</td>
                             <td>${pengajuan?.notelp}</td>
                         </tr>
                         <tr>
                             <th>Jumlah Orang</th>
                             <td>:</td>
                             <td id="jumlahorang">${pengajuan?.jumlahorang}</td>
                         </tr>	                                                  
                     </tbody>
                 </table>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
	<i class=" fa fa-th-list "></i> Daftar Siswa ${pengajuan?.namainstansi}  		
	</div>
	<div class="panel-body">
		
		<div class="row">
			<div class="col-lg-12 text-left">
				#{if pengajuan?.tampil==true}
				<button class="btn btn-md btn-info" id="panelButton"><i class=" fa fa-plus-square"></i> Tambah Siswa</button>
				#{/if}
				<button class="btn btn-md btn-success" id="statusbutton"><i class=" fa fa-refresh"></i> Ubah Status</button>
			</div>			
		</div>		
		<br>
		<div class="row">
			<div class="col-lg-12" id="tablesiswa">
				 
            </div>
        </div>
    </div>
</div>
#{modal modalName:'tambahsiswa',title:'Tambah Siswa', modalBody:'bodyadd' /}     

<div class="modal fade" id="ubahsiswa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
       	<form id="formubah" class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">Ubah Siswa</h4>
           </div>
                      
           <div class="modal-body" id="bodychange">
           		
			</div>
           <div class="modal-footer">
               <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary" id="simpan">Save</button>
           </div>
           </form>
       </div>
   </div>
</div>
<div class="modal fade" id="modalstatus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
       	<form id="formstatus" class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">Ubah Status Siswa</h4>
           </div>
                      
           <div class="modal-body" id="bodyedit">
           		
			</div>
           <div class="modal-footer">
               <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary" id="simpan">Save</button>
           </div>
           </form>
       </div>
   </div>
</div>
<div class="modal fade" id="removemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
       	<form id="formhapus" class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post">
           
                      
           <div class="modal-body text-center" id="HapusText">
           		<h4>Apakah anda yakin akan menghapus siswa ini?</h4>
			</div>
           <div class="modal-footer">
               <button type="button"  class="btn btn-default" data-dismiss="modal">Batal</button>
               <button type="submit" class="btn btn-danger" id="yeshapus">Hapus</button>
           </div>
           </form>
       </div>
   </div>
</div>
<!-- More CSS -->
#{set 'moreStyles'}
<link href="@{'public/themes2/css/jquery.dataTables.min.css' }" rel="stylesheet" type="text/css">
<link href="@{'public/themes2/ui-custom.css'}" rel="stylesheet" type="text/css">
#{/set}

<!-- More JavaScript -->
#{set 'moreScripts'}
  	<script src="@{'public/themes2/js/jquery-ui.min.js'}"></script>
  	<script src="@{'public/themes2/js/jquery.dataTables.min.js'}"></script>
  	<script>
  	$(document).ready(function () {     		 
          
		
 		var idpengajuan=${pengajuan?.id};
      	var listsiswa=#{jsAction @Siswas.listsiswa(':id') /};
      	var idsiswa;
//============LOAD TABLE SISWA==============================

	 	$('#tablesiswa').load(listsiswa({id:idpengajuan}));

//=====-============Modal Status==========================/		 	
        $('#modalstatus').on('show.bs.modal', function (event) {
           	 var button = $(event.relatedTarget);
           	 var recipient = button.data('siswa');
           	 var edit=#{jsAction @Siswas.ubahStatus(':id') /};
           	 $('#bodyedit').load(edit({id : recipient}));                
        });
//=============FUNGSI MENYIMPAN FORM=============================//
        function simpan(e,formstatus){
           	e.preventDefault();
           	var simpanStatus=#{jsRoute @Siswas.tambah(':siswa') /};            	
           	$.ajax({
	           	url : simpanStatus.url(),
	           	data : formstatus,
	           	type : 'POST',
            	success:function(data){
            		var x = $('#jumlahorang').text();
                    $('#tambahsiswa').modal('hide');
                    $('#tablesiswa').load(listsiswa({id:idpengajuan}));
            		$('#jumlahorang').text(parseInt(x)+1);
            		}
            });            
		}
//===================MEngubah PROFIL SISWA=============================		
        $('#formModal').submit(function(e){
       		var formstatus=$(this).serialize();
           	simpan(e,formstatus);
        });
//===================MEngubah Status=============================        
      	$('#formstatus').submit(function(e){
       		var formstatus=$(this).serialize();
           	simpan(e,formstatus);
       	});	
//================Tombol Tambah==================
   	  	$('#panelButton').click(function(e){
			$('#tambahsiswa').modal('show');
			var add=#{jsAction @Siswas.tambah(':id') /};
			$('#bodyadd').load(add({id:idpengajuan}));
   	  	});
//=====================Tombol Hapus=====    	  
    	$('#removemodal').on('show.bs.modal',function(event){
  			idsiswa=$(event.relatedTarget).data('siswa');
  		});
    	$('#yeshapus').click(function(e){
    		e.preventDefault();
    		var funchapus=#{jsRoute @Siswas.hapus(':id') /};
    		$.ajax({
    			url: funchapus.url({id: idsiswa}),
    			type: 'POST',
    			success: function(){
    				var x = $('#jumlahorang').text();
    				$('#removemodal').modal('hide');
    				$('#tablesiswa').load(listsiswa({id:idpengajuan}));
            		$('#jumlahorang').text(parseInt(x)-1);
    			}
    		});
    	});
//=====================Tombol Ubah===================    		
		$('#ubahsiswa').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var recipient = button.data('siswa');
			var edit=#{jsAction @Siswas.ubahsiswa(':id') /};
			$('#bodychange').load(edit({id : recipient}));
         });         
         $('#formubah').submit(function(e){
          	e.preventDefault();
          	var simpanubah=#{jsRoute @Siswas.tambah(':siswa') /};
          	var formstatus=$(this).serialize();
          	$.ajax({
          	url : simpanubah.url(),
          	data : formstatus,
          	type : 'POST',
          	success:function(data){                		                            
                  $('#ubahsiswa').modal('hide');
                  $('#tablesiswa').load(listsiswa({id:idpengajuan}));              	                    
          		}
          	});
          
  		});
//==================================================
		$('#statusbutton').click(function(){
			$('.status-siswa').each(function(){
		 		$(this).toggle();	    		
		 	});
		$('.status-kp').each(function(){
			$(this).toggle();
				if($(this).prop("disabled")){
					$(this).prop({disabled:false});						
					$('#statusbutton').html('<i class="fa fa-save"></i> Simpan Status');						
				}else{
					$(this).prop({disabled:true});					
					$('#statusbutton').html("<i class='fa fa-refresh'></i> Ubah Status");
					var simpanubah=#{jsRoute @Siswas.simpanUbahStatus() /};
					var formstatus=$(this).closest('td').find(':input[type="hidden"]').val();
					var status_id=$(this).val();
					console.log(formstatus+status_id);			      
					$.ajax({
			          	url : simpanubah.url(),
			          	type : 'GET',
			          	data : {id : formstatus,status_id: status_id},
			          	success:function(data){                		                            
			                  $('#tablesiswa').load(listsiswa({id:idpengajuan}));    		                          	                    
			          		}
			         });
				}
			});					
														
		});
  });         
  	</script>
#{/set}
      