<div class="modal fade" id="${_modalName}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
       	<form id="formModal" class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">${_title}</h4>
           </div>
                      
           <div class="modal-body" id=${_modalBody}>
           		
			</div>
           <div class="modal-footer">
               <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary" id="simpan">Save</button>
           </div>
           </form>
       </div>
   </div>
</div>