#{extends 'public/themes2/index.html' /}

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class=" fa fa-th-list "></i> Cetak Laporan
			</div>	
			<div class="panel-body">
				<br>
				<div class="row">
					<div class="col-lg-12" id="contentmahasiswa">
						<div class="row">
							<div class="col-lg-8 col-md-offset-2">
								<form action="@{Laporan.cetak()}" class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post">
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Jenis Sekolah</label>
									</div>
									<div class="col-lg-9">
										#{select 'jenis', items:jenis, valueProperty:'id', labelProperty:'namajenis', class:'form-control', id:'select2',required:'required' /}
									</div>								
								</div> 								
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Periode</label>
									</div>
									<div class="col-lg-4">
										<input type="text" name="tglmulai" value="${siswa?.tglmulai}" class="form-control datepick" id="tglMulai" required/>
									</div>				
									<div class="col-lg-1 text-center">
										<label class="control-label">s/d</label>
									</div>													
									<div class="col-lg-4">
										<input type="text" name="tglselesai" value="${siswa?.tglselesai}" class="form-control datepick" id="tglSelesai" required/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Atas Nama</label>
									</div>
									<div class="col-lg-9">
										<input type="text" name="atasnama" class="form-control" required/>
									</div>								
								</div> 	
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Jabatan</label>
									</div>
									<div class="col-lg-9">
										<input type="text" name="jabatan" class="form-control" required/>
									</div>								
								</div> 	
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">NIK</label>
									</div>
									<div class="col-lg-9">
										<input type="text" name="nik" class="form-control" required/>
									</div>								
								</div> 	
								<div class="form-group">
									<div class="col-lg-9 col-lg-offset-3">
										<button class="btn btn-success col-lg-12">Print</button>
									</div>								
								</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
#{set "moreStyles"}
<link href="@{'public/themes2/jquery-ui.min.css'}" rel="stylesheet" type="text/css">	

<link href="@{'public/themes2/ui-custom.css'}" rel="stylesheet" type="text/css">	

#{/set}
#{set "moreScripts"}
<script src="@{'public/themes2/js/jquery-ui.min.js'}"></script>

<script>
$(document).ready(function () {     	
	$('#tglMulai').datepicker({
		showAnim : 'slideDown',
		dateFormat : 'dd-mm-yy',
		onClose: function( selectedDate ) {
	        $( "#tglSelesai" ).datepicker( "option", "minDate", selectedDate );
	      }
	});	     	
	$('#tglSelesai').datepicker({
		showAnim : 'slideDown',
		dateFormat : 'dd-mm-yy',
		onClose: function( selectedDate ) {
	        $( "#tglMulai" ).datepicker( "option", "maxDate", selectedDate );
	      }
	});	
});

</script>
#{/set}	